.Help-text-left {
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
}

.Help-img {
	height: 30px;
	padding-right: 10px;
}

.Help-title {
	font-family:"Playfair-Bold";
}

.Help-text {
	font-family:"Playfair";
}
