@font-face {
	font-family: Playfair-Bold;
	src: url("../fonts/PlayfairDisplay-Bold.otf") format("opentype");
}
@font-face {
	font-family: Billabong;
	src: url("../fonts/Billabong.ttf") format("opentype");
}
@font-face {
    font-family: Playfair;
    src: url("../fonts/PlayfairDisplay-Regular.otf") format("opentype");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format("opentype");
}
.Main-background{
	background-color: black;
	/*background-image:url("../images/waves.gif");*/
	color: white;
	height: 820px;
	width: 100%;
	margin: auto;
}
.bg {

  position: absolute;

  width: 100%;

  height: 100%;

  background-image: url("../images/waves.gif");

  background-size: cover;

}
.text-left{
	text-align: left;
	font-family: "Billabong"
å}

.text-center{
	text-align: center;
}

.text-center{
	vertical-align: middle;
}

.text-spacing{
	padding-right: 3px;
}

.Logo-large{
	height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
    padding-right: 10px;
}

.Main-title {
	font-family:"Billabong";
	font-size: 50px;
}

.Main-subtitle {
	font-family:"Playfair";
}

.text-padding {
	padding: 15px;
}

.instalogo {
	max-height: 30px;
	margin: auto;
}

.Login {
   	padding: 30px 0;
   	max-width: 350px;
}

.Login-form {
   	padding: 10px;
   	max-width: 350px;
   	padding-bottom: 30px;
}

.Login form {
	margin: 0 auto;
	max-width: 320px;
}

.Login Button {
	background-color: #440060;
	font-size: 20px;
	color: white;
}

.VerticalLine {
    border-left: 2px solid white;
    height: 125px;
    padding-right: 10px;
}

.SignIn-Panel{
	background-color: #424242;
	color: white;
	border: 0px;
	font-family: "Playfair-Bold";
	padding-bottom: 0px;
}

.MainTitle {
	font-size: 40px;
	vertical-align: middle;
	padding-top: 100px;
}

.List {
	padding-top: 30px;
	font-size: 25px;
	vertical-align: middle;
	margin: auto;
	padding-left: 100px;
}

.List li {
	padding: 15px;
}

.Grid-center {
	display:inline-block;
}

.Addon {
	color: white;
	background-color: #440060;
}

.Inline {
	display: inline-block;
	float: left;
	vertical-align: middle;
}

.Panel-size {
	padding-top: 100px;
	padding-bottom: 100px;
}